{% extends 'blogapp/base.html' %}


{% block content %}
<br>
<br>
<br>
<div class="pankuzu">
  <ul>
    <li><a href="/"><i class="fas fa-home"></i>HOME</a></li>
  </ul>
</div>

<div class="content">
  <h2 class="effect">よくある質問</h2>
  <div class="cont_wrap">

    <div class="effect d_02">

      <dl class="faq">
        <dt><span>Ｑ１</span>寄付はどのようにしてできますか？</dt>
        <dd>まずログインしていただき、記事ページの「寄付する」ボタンからカード情報を入力することで、寄付できます。
        </dd>
      </dl>

      <dl class="faq">
        <dt><span>Ｑ２</span>お気に入りにいれるには？</dt>
        <dd>お気に入りにいれるには、ログインしていただきその後「ハートボタン」を押していただくとお気に入りに入れることができます。
        </dd>
      </dl>

      <dl class="faq">
        <dt><span>Ｑ３</span>寄付金は戻ってきますか？</dt>
        <dd>いいえ、戻ってくることはないです。
        </dd>
      </dl>

      <dl class="faq">
        <dt><span>Ｑ４</span>ユーザー名を変更するには？</dt>
        <dd>「アカウント」メニューのユーザー名変更からできます。<br>
          
        </dd>
      </dl>

      <dl class="faq">
        <dt><span>Ｑ５</span>記事ページにいくには？</dt>
        <dd>トップページの画像をクリックしていただくと、記事ページに飛ぶことができます。
        </dd>
      </dl>


    </div>

  </div>
  <!--/cont_wrap-->

</div>
<!--/content-->



<div class="box_contact effect">
  <div class="box_in clfix">
    <div class="btn"><a href="{% url 'blogapp:contact_form' %}"><i class="fas fa-envelope"></i>お問い合わせはコチラ</a>
      <p>メールでのお問い合わせは<strong>24時間365日受付中！</strong></p>
    </div>
  </div>
</div>
<!--/box_contact-->

{% endblock content %}