{% extends "blogapp/base.html" %}
{% block content %}
<div class="row">
  <!-- 左側、ログインエリア -->
  <div class="col-md-6 offset-md-3">
    <br><br>
    <h2>ログイン</h2>
    <br>
    <p style="color: red;">※ユーザー名はアカウントから変更可能です！</p>
    <br>
    <div class="text-center">
      <a class="btn btn-danger btn-block" href="{% url 'social:begin' 'google-oauth2' %}"><i
          class="fab fa-google mr-3 fa-2x"></i>Googleでログイン</a>
    </div>
    <br><br>
    <div class="text-center">
      <form action="{% url 'blogapp:login' %}" method="POST">
        {{ form.non_field_errors }}
        {% for field in form %}
        {{ field }}
        {{ field.errors }}
        <br>
        <hr>
        {% endfor %}
        <button type="submit" class="btn btn-success float-left">ログイン</button>
        <a href="{% url 'blogapp:password_reset' %}" class="float-right">＜パスワードを忘れた方はこちら＞</a>
        <br>
        <a href="{% url 'blogapp:user_create' %}" class="float-right">＜初めての方はこちら＞</a>
        <br>
        <br>
        <br>
        <br>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
      </form>
    </div>
  </div><!-- 左側、ログインエリアおわり -->
</div>
{% endblock %}