{% extends 'blogapp/base.html' %}


{% block content %}
<div class="row">
  <div class="col-md-9">
    <br>
    <h2>登録・更新</h2>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label>タイトル</label>
        {{form.title}}
      </div>
      <div class="form-group">
        <label>カテゴリー</label>
        {{form.category}}
      </div>
      <div class="form-group">
        <label>寄付額</label>
        {{form.price}}
      </div>
      <div class="form-group">
        <label>サムネイル画像</label>
        {{form.thumbnail}}
      </div>
      <br>
      <div class="form-group">
        <label>内容</label>
        <br>
        {{form.content}}
        {{form.media}}
      </div>
      <br>
      <button type="submit" class="btn btn-primary">保存</button>
    </form>
  </div>
</div>
{% endblock content %}